

body{
  margin: 0;
  padding: 0;
}

main{
  margin: 0;
  padding: 0;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: firebrick;

  display: flex;
  flex-direction: column;
  align-items:center;
  
  /*  */
  background-color: rgb(172, 211, 172);
}

p{
  line-height: 1.4;
}

.italicColor{
  color: rgb(68, 152, 180);
}

.seaGreen{
  color: lightseagreen;
}

h2{
  color: rgb(114, 67, 255);
  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h1{
  text-align: center;
  font-size: xx-large;
  color: rgb(27, 189, 27);
  text-shadow: 1px 2px rgb(93, 236, 93);
}

li{
  margin-bottom: 20px;
}

hr{
  width: 80%;
}

.div-center-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      height: 850px;
      line-height: 1.2;
      border: solid black 1px;
      border-radius: 5px;
      padding: 20px;
      margin-block: 20px;
      background-color: rgba(222, 184, 135, 0.247);
      width: 675px;
      max-height: 850px;

      overflow: hidden;

}


a{
  text-decoration: none;
  color: darkcyan;
}
a:hover{
  color: crimson;
}

.A4{
  background: linear-gradient(antiquewhite 60%,#ffe4c4);
  border: solid green;
  overflow: hidden;
  /*  */
  box-shadow: rgba(0, 71, 9, 0.815) 0px 0px 10px 1px;  
  /*  */
  height: 1123px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  width: 794px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}


.data-\[print_check\][data-print_check=true] {
  border: none;
  box-shadow: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input{
  background: none;
  outline: none;
}

input::placeholder{
  background-color: rgba(175, 91, 161, 0.075);
}

input[type=checkbox]{
  margin-left: 10px;
  margin-top: 20px;
}

input:focus{
  border-bottom: solid black 1px;
}
